[access]
	inheritFrom = LGE-Projects
[project]
	state = active
[access "refs/*"]
	push = group LG 3.0 Kernel
	pushMerge = group LG 3.0 Kernel
	pushTag = group LG 3.0 Kernel
	label-Code-Review = -2..+2 group LG 3.0 Kernel
	label-Verified = -1..+1 group LG 3.0 Kernel
	submit = group LG 3.0 Kernel
[receive]
